.dashboard {
  width: 80%;
  margin: 5rem auto;
  border: 1px solid #323747;
  background-color: #323747;
  display: grid;
  grid-template-areas: 'aside header header ' 'aside main main '
    'aside main main ';
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 3rem 3rem;
}
header {
  background-color: #515767;
  width: 100%;
  padding: 1rem;
  border-radius: .5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-area: header;
}
header h4 {
  color: white;
}
.head-buttons button:first-child {
  background-color: #518762;
  border-radius: .7rem;
  padding: .4rem 1rem;
  border: 1px solid #518762;
  color: white;
  cursor: pointer;
  margin-right: .4rem;
}
.head-buttons button:nth-child(2){
  background-color: transparent;
  border: 1px solid white;
  border-radius: .7rem;
  padding: .4rem 1rem;
  color: white;
  cursor: pointer;
  margin-right: .4rem;
}
.head-buttons button:last-child {
  background-color: transparent;
  border: 1px solid rgb(245, 108, 108);
  border-radius: .7rem;
  padding: .4rem 1rem;
  color: rgb(245, 122, 122);
  cursor: pointer;
}
main {
  grid-area: main;
  padding: 1rem;
  background-color: white;
}
aside {
  grid-area: aside;
  background-color: #323747;
}
aside button {
  color: #5fb997;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 1rem 1.7rem;
}

:where(.css-dev-only-do-not-override-2i2tap).ant-menu-light.ant-menu-root.ant-menu-inline,
:where(.css-dev-only-do-not-override-2i2tap).ant-menu-light
  > .ant-menu.ant-menu-root.ant-menu-inline,
:where(.css-dev-only-do-not-override-2i2tap).ant-menu-light.ant-menu-root.ant-menu-vertical,
:where(.css-dev-only-do-not-override-2i2tap).ant-menu-light
  > .ant-menu.ant-menu-root.ant-menu-vertical {
  background-color: #323747;
}
:where(.css-dev-only-do-not-override-2i2tap).ant-menu-inline.ant-menu-root .ant-menu-item
  > .ant-menu-title-content,
:where(.css-dev-only-do-not-override-2i2tap).ant-menu-inline.ant-menu-root .ant-menu-submenu-title
  > .ant-menu-title-content {
  color: white;
  font-weight: 500;
}

:where(.css-dev-only-do-not-override-2i2tap).ant-menu-light .ant-menu-item-selected,
:where(.css-dev-only-do-not-override-2i2tap).ant-menu-light
  > .ant-menu .ant-menu-item-selected {
  background-color: #576ca2;
}
